
:root {
        
    --background: #002b36;
    --sidebar: #586e75;
    --texto-claro: #fffddf;
  }


@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Readex Pro', sans-serif !important;
}

a {
    text-decoration: none !important;
    color: white !important;
    font-weight: 500;
    border: 2px solid white; /* ou qualquer cor e espessura que quiser */
    border-radius: 5px; 
    display: inline-block;
    margin-bottom: 20px;
    font-size: 16px;
}

a:hover{
    color: var(--background)!important;
    text-decoration: none;
    background-color: #ffffff;
    padding: 8px 12px; 
    border-radius: 5px; 
    display: inline-block;
}

p {
    color: var(--texto-claro) !important;
    margin-top: 20px;
    font-size: 20px !important;
}


ul {
    list-style-type: none;
    color: var(--texto-claro) !important;
    margin-top: 20px;
    font-size: 20px !important;
}

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

body {
    background-color: #e3f2fd;
}

h1, h2, h3 {
    color: var(--texto-claro) !important;
}


#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}


/* Cor do background do codigo  */
.stApp {
    background-color: var(--background) !important; /* verde clarinho, por exemplo */
}

/* Cor de fundo da sidebar */
section[data-testid="stSidebar"] {
    background-color: var(--sidebar) !important;  /* Exemplo: azul clarinho */
    
}
/* alterar a cor dos icons da sidebar (interno) */
section[data-testid="stSidebar"] button svg {
    fill: var(--texto-claro) !important;
}

/* mudar a cor dos icon do sidebar */
/* Força todos os botões com SVG no canto esquerdo */
button > svg {
    fill: var(--texto-claro) !important;
    color: var(--texto-claro) !important;
}

/* Também o botão específico */
button[title="Expand sidebar"],
button[title="Toggle sidebar"] {
    background-color: #555 !important;
    border-radius: 8px !important;
    padding: 6px !important;
    z-index: 9999 !important;
}




.custom-menu-title {
    font-size: 22px;
    color: #031f72;  /* Laranja */
    font-weight: bold;
    margin-bottom: 10px;
}


/* Alterar os valores dos cards*/
/* Cor do label (título da métrica) */
div[data-testid="stMetric"] > label {
    color: #e4dada !important;
}

/* Cor do value (valor numérico) */
div[data-testid="stMetric"] > div > div {
    color: var(--background) !important;
}

/* Borda visível com cor contrastante */
div[data-testid="stMetric"] {
    border: 2px solid #ef4014 !important;  /* mesma cor do value */
    border-radius: 8px;
    padding: 12px;  /* só para garantir espaçamento */
    background-color: var(--sidebar);  /* fundo escuro opcional para destacar */
}


